<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>干部列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<div class="ok-body">
<!--引入模板-->
<div th:include="publictemplate :: css"></div>
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
        <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
            <a><cite>投票管理</cite></a>
            <a><cite>打分详情</cite></a>
        </span>
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--模糊搜索区域-->
    <div class="layui-row">
        <form class="layui-form layui-col-md12 ok-search">
            <select name="alias" id="alias_select">
                <option value=""></option>
                <span th:each="v : ${votes}">
                    <option th:value="${v.alias}">
                        <span th:text="${v.alias}"></span>
                    </option>
                </span>
            </select>

            <select name="role" id = "role" placeholder="角色搜索，请选择">
                <option value=""></option>
                <option value="行政与教辅单位正职">行政与教辅单位正职</option>
                <option value="行政与教辅单位副职">行政与教辅单位副职</option>
                <option value="教学学院正职">教学学院正职</option>
                <option value="教学学院副职">教学学院副职</option>
            </select>
            <input class="layui-input" placeholder="输入用户名搜索" autocomplete="off" id="info">
            <button class="layui-btn" lay-submit="" lay-filter="search">
                <i class="layui-icon layui-icon-search"></i>
            </button>
        </form>
    </div>
    <!--数据表格-->
    <table class="layui-hide" id="test" lay-filter="test"></table>

    <script type="text/html" id="toolbarDemo">
    </script>

    <script th:inline="none">
        layui.use(['table','form'], function(){
            var table = layui.table;
            var form = layui.form;
            var $ = layui.jquery;

            form.on("submit(search)", function () {
                table.reload('test', {
                    url: "/vote/getScoreList?info="+$("#info").val()+"&alisa="+$("#alias_select").val()+"&role="+$("#role").val()
                    ,where: {}
                });
                var index = layer.load(2, {time: 1*1000});
                return false;
            });

            table.render({
                elem: '#test'
                ,url:'/vote/getScoreList'
                ,toolbar: '#toolbarDemo'
                ,title: '用户数据表'
                ,cols: [[
                    {field: "id", title: "ID", width: 80, sort: true},
                    {field: "cadreName", title: "被投干部", width: 110},
                    {field: "vote_alia", title: "投票项目", width: 120},
                    {field: "job", title: "职务", width: 200},
                    {field: "role", title: "身份", width: 200},
                    {field: "leadervotescore", title: "校领导评分", width: 80},
                    {field: "othervotescore", title: "其他人员评分", width: 80},
                    {field: "finalyvotescore", title: "总评分", width: 80}
                ]]
                ,page: true
            });
        });
    </script>
</div>


</body>
</html>
