<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>干部列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<div class="ok-body">
<!--引入模板-->
<div th:include="publictemplate :: css"></div>
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
        <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
            <a><cite>投票管理</cite></a>
            <a><cite>打分详情</cite></a>
        </span>
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--模糊搜索区域-->
    <div class="layui-row">
        <form class="layui-form layui-col-md12 ok-search">
            <input class="layui-input" placeholder="输入用户名搜索" autocomplete="off" id="info">
            <button class="layui-btn" lay-submit="" lay-filter="search">
                <i class="layui-icon layui-icon-search"></i>
            </button>
        </form>
    </div>
    <!--数据表格-->
    <table class="layui-hide" id="test" lay-filter="test"></table>

    <script type="text/html" id="toolbarDemo">
        <p>说明:各项中1,2,3,4分别对应"好","较好","一般","差"</p>
    </script>

    <script th:inline="none">
        layui.use(['table','form'], function(){
            var table = layui.table;
            var form = layui.form;
            var $ = layui.jquery;

            form.on("submit(search)", function () {
                table.reload('test', {
                    url: "/vote/getScoreList?info="+$("#info").val()
                    ,where: {}
                });
                var index = layer.load(2, {time: 1*1000});
                return false;
            });

            table.render({
                elem: '#test'
                ,url:'/vote/getScoreList'
                ,toolbar: '#toolbarDemo'
                ,title: '用户数据表'
                ,cols: [[
                    {field: "id", title: "ID", width: 80, sort: true},
                    {field: "pin", title: "投票者PIN", width: 150},
                    {field: "cadreName", title: "被投干部", width: 150},
                    {field: "alias", title: "投票项目", width: 150},
                    {field: "voteTime", title: "投票时间", width: 200},
                    {field: "virtue", title: "德", width: 50},
                    {field: "ability", title: "能", width: 50},
                    {field: "diligence", title: "勤", width: 50},
                    {field: "feats", title: "绩", width: 50},
                    {field: "honest", title: "廉", width: 50}
                ]]
                ,page: true
            });
        });
    </script>
</div>


</body>
</html>
