<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link rel="stylesheet" th:href="@{/static/css/okadmin.css}">-->
</head>
<body>
<div th:include="publictemplate :: css"></div>
<div class="ok-body">

    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
        <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
            <a><cite>投票管理</cite></a>
            <a><cite>投票项目</cite></a>
            <a><cite>新建投票项目</cite></a>
        </span>
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" id="voteInfo">
        <div class="layui-form-item">
            <label class="layui-form-label">项目名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="请输入项目名" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">项目别名</label>
            <div class="layui-input-block">
                <input type="text" name="alias" placeholder="请输入别名" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开始日期</label>
            <div class="layui-input-block">
                <input type="text" name="beginTime" placeholder="请选择开始日期" autocomplete="off" class="layui-input" id="begin" lay-verify="birthdayVerify">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">截止日期</label>
            <div class="layui-input-block">
                <input type="text" name="endTime" placeholder="请选择截止日期" autocomplete="off" class="layui-input" id="end" lay-verify="birthdayVerify">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <select name="state" lay-filter="state" lay-verify="required">
                    <option value=""></option>
                    <option value="0">停用</option>
                    <option value="1" selected="">启用</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(["element", "form", "jquery", "laydate"], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        laydate.render({
            elem: "#begin",
            type: "datetime"
        });
        laydate.render({
            elem: "#end",
            type: "datetime"
        });


        form.on("submit(add)", function (data) {
            ajax();
            return false;
        });
    })

    function ajax() {
        $.ajax({
            cache: true,//缓存
            type: "POST",//提交类型
            url: '/vote/addVote',
            data: $("#voteInfo").serialize(),// 你的formid
            dataType: 'json',
            async: false,
            error: function (data) {
                layer.msg("系统故障,请稍候再试!")
            },
            success: function (data) {
                if (data.res){
                    layer.msg("添加成功！", {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    })
                }
            }
        });
    }

</script>
</body>
</html>
