<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>干部列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<!--引入模板-->
<div th:include="publictemplate :: css"></div>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
        <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
            <a><cite>参评干部管理</cite></a>
            <a><cite>参评干部列表</cite></a>
        </span>
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--模糊搜索区域-->
    <div class="layui-row">
        <form class="layui-form layui-col-md12 ok-search">
            <input class="layui-input" placeholder="输入用户名搜索" autocomplete="off" id="info">
            <button class="layui-btn" lay-submit="" lay-filter="search">
                <i class="layui-icon layui-icon-search"></i>
            </button>
        </form>
    </div>
    <!--工具栏-->
    <okToolbar>
        <button class="layui-btn layui-btn-danger" id="batchDel">
            <i class="layui-icon layui-icon-delete"></i>批量删除
        </button>
        <button class="layui-btn layui-btn-warm" id="batchimport" style="margin-left: 0px">
            <i class="layui-icon">&#xe67c;</i>批量导入
        </button>
        <button class="layui-btn" id="addUser">
            <i class="layui-icon">&#xe61f;</i>添加干部
        </button>
        <a th:href="@{/sys_file/gb.xlsx}" style="display: block;float: right;line-height: 40px;width: 100px;height: 40px;
    color: #1c20d0;text-decoration: underline;">导入模板下载</a>
    </okToolbar>
    <!--数据表格-->
    <table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
</div>
<script th:inline="none">
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    }
    layui.use(["element", "table", "form", "jquery", "laydate", "upload"], function () {
        var table = layui.table;
        var form = layui.form;
        var laydate = layui.laydate;
        var upload = layui.upload;

        //指定允许上传的文件类型
        upload.render({
            elem: '#batchimport'
            , url: '/cadre/batchImport'
            , accept: 'file' //普通文件
            , done: function (res) {
                if (res.res) {
                    layer.msg("导入成功")
                    table.reload('tableId', {
                        url: "getCadreLists"
                    });
                }
                else{
                    layer.msg(res.info);
                }
            }
        });


        laydate.render({
            elem: "#startTime",
            type: "datetime"
        });

        laydate.render({
            elem: "#endTime",
            type: "datetime"
        });

        table.render({
            elem: "#tableId",
            url: "getCadreLists",
            limit: 10,
            page: true,
            loading: true,
            cols: [[
                {type: "checkbox"},
                {field: "id", title: "ID", width: 80, sort: true},
                {field: "cadreName", title: "干部姓名", width: 120},
                {field: "password", title: "密码", width: 100},
                {field: "job", title: "职务", width: 295},
                {field: "role", title: "身份", width: 185},
                {field: "state", title: "状态", width: 85},
                {field: "avoteLias", title: "参与的投票项目", width: 200},
                {field: "desc", title: "描述", width: 200},
                {title: "操作", width: 200, align: 'center', templet: "#operationTpl"}
            ]],
            done: function (res, curr, count) {
            }
        });

        form.on("submit(search)", function () {
            adminListUrl = "getCadreLists?info=" + $("#info").val();
            table.reload('tableId', {
                url: adminListUrl
                , where: {}
            });
            var index = layer.load(2, {time: 1000});
            return false;
        });

        table.on("tool(tableFilter)", function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === "edit") {
                layer.open({
                    title: "编辑干部信息",
                    type: 2,
                    shade: false,
                    maxmin: true,
                    shade: 0.5,
                    area: ["40%", "70%"],
                    content: "/cadre/edit?id=" + JSON.stringify(data.id),
                    zIndex: layer.zIndex,
                    end: function () {
                        $(".layui-laypage-btn")[0].click();
                    }
                });
            } else if (layEvent === "del") {
                layer.confirm("若删除该投票,与之关联投票详情、投票结果也被删除且不可恢复,确定要删除吗？", {skin: "layui-layer-lan", icon: 2, title: "提示", anim: 6}, function () {
                    $.ajax({
                        cache: true,//缓存
                        type: "POST",//提交类型
                        url: '/cadre/deleteByPK',
                        data: {id: data.id},// 你的formid
                        dataType: 'json',
                        async: false,
                        error: function (data) {
                            console.log("失败")
                        },
                        success: function (data) {
                            if (data.res) {
                                layer.msg("删除成功", {icon: 1, time: 1000});
                                table.reload('tableId', {
                                    url: "getCadreLists?id="
                                });
                            }
                        }
                    });
                });
            }
        });

        $("#batchDel").click(function () {
            layer.confirm("确定要批量删除吗？若删除这些用户,与之关联的投票详情、投票结果也被删除且不可恢复,确定吗？", {skin: "layui-layer-lan", icon: 2, title: "提示", anim: 6}, function () {
                var checkStatus = table.checkStatus("tableId");
                var rows = checkStatus.data.length;
                if (rows > 0) {
                    var idsStr = [];
                    for (var i = 0; i < checkStatus.data.length; i++) {
                        idsStr.push(checkStatus.data[i].id);
                    }
                    console.log(idsStr);
                    $.ajax({
                        cache: true,//缓存
                        type: "POST",//提交类型
                        url: '/cadre/batchDeletion',
                        data: JSON.stringify(idsStr),
                        dataType: 'json',
                        async: false,
                        contentType: 'application/json',
                        error: function (data) {
                            console.log("失败")
                        },
                        success: function (data) {
                            if (data.res) {
                                layer.msg("操作成功！", {icon: 1, time: 1000}, function () {
                                    $(".layui-laypage-btn")[0].click();
                                });
                                table.reload('tableId', {
                                    url: "/cadre/getCadreLists"
                                });
                            }
                        }
                    });
                } else {
                    layer.msg("未选择有效数据", {
                        offset: "t",
                        anim: 6
                    });
                }
            });
        })

        $("#addUser").click(function () {
            layer.open({
                title: "添加干部",
                type: 2,
                shade: false,
                maxmin: true,
                shade: 0.5,
                anim: 4,
                area: ["40%", "75%"],
                content: "add",
                zIndex: layer.zIndex,
                end: function () {
                    location.reload();
                    $(".layui-laypage-btn")[0].click();
                }
            });
        })
    })
</script>

<script type="text/html" id="operationTpl">
    <a href="javascript:;" title="编辑" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:;" title="删除" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
</script>
</body>
</html>
