<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<style type="text/css">
    .edit-css{width: 100%;height: 800px;font-family: 仿宋;font-size: 18px;font-weight:inherit;background: #FAFAFA;}
    .edit-css td{border:inset 1px black;height: 50px;width: 100px;text-align: center;}
    .edit-css textarea{font-size: 18px;margin:0 auto;font-weight: initial;resize: none;margin-top: 5px;border: 0px;width: 98%;height: 98%;}
</style>
<body>
<div th:include="publictemplate :: css"></div>
<div class="layui-header" style="background: #393d49">
    <a id="explain"><p style="color: white;font-size: 30px;padding-top: 7px">湖南科技学院干部考核测评系统</p></a>

    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a style="float: right" id="modifyPwd" onclick="modifyPwd()">
                <i class="layui-icon">&#xe673;</i>修改密码</a>
        </li>
        <li class="layui-nav-item">
        <a style="float: right" id="editCadre" >
            <i class="layui-icon">&#xe61f;</i>编辑信息</a>
        </li>
        <li class="layui-nav-item">
            <button style="background: #393d49;border: 0px" id="fileimprot">
                <a><i class="layui-icon">&#xe67c;</i>导入基本信息文件</a>
            </button>
        </li>
        <li  class="layui-nav-item">
            <a th:href="@{/sys_file/参评干部添加信息模板.xlsx}" style="display: block;">
                <i class="layui-icon">&#xe601;</i>基本信息文件模板下载</a>
        </li>

        <!--<li class="layui-nav-item"><a th:href="@{'/logout/out?user='+${cadre.cadre_name}}" target="_self">退出</a></li>-->
        <li class="layui-nav-item"><a href="/logout">退出</a></li>
    </ul>
</div>
<div class="layui-col-md6 layui-col-xs12 layui-col-lg-offset3">
    <blockquote class="layui-elem-quote" style="text-align: center;vertical-align: center;">
        <h2><span class="x-red" th:text="${cadre.cadre_name}"></span> 的信息页面！</h2>
    </blockquote>
    <table class=" edit-css">
        <colgroup>
            <col width="300">
            <col>
        </colgroup>
        <tbody>
        <!------------------------------->

        <tr>
            <td>姓名</td><td th:text="${cadre?.cadre_name}"></td>
            <td>性别</td><td style="width: 100px" th:text="${cadre?.sex}"></td>
            <td>出身年月</td>
            <td style="width: 140px" th:text="${cadre?.birth}"></td>
            <td colspan="2" rowspan="3">
                <p align="center">
                    <span th:if="${cadreInfo==null or cadreInfo.headerPic==null}">
                        <img th:src="@{/headportrait/nopic.png}" height="170px">
                    </span>
                    <span th:if="${cadreInfo != null and cadreInfo.headerPic!=null}">
                        <img th:src="@{/headpic/{headpic}(headpic=${cadreInfo.headerPic})}" width="122px" height="170px" style="margin: 2px;">
                    </span>
                </p>
            </td>
        </tr>
        <tr>
            <td>民族</td><td th:text="${cadre?.nation}"></td>
            <td>籍贯</td><td th:text="${cadre?.nativeplace}"></td>
            <td>健康状况</td><td th:text="${cadre?.health}"></td>
        </tr>
        <tr>
            <td>政治面貌</td><td th:text="${cadre?.politicalface}"></td>
            <td>参加工作时间</td><td th:text="${cadre?.worktime}"></td>
            <td>专业技术职务</td><td th:text="${cadre?.majorpost}"></td>
        </tr>
        <tr>
            <td rowspan="2">学历学位</td>
            <td>全日制教育</td><td colspan="2" th:text="${cadre?.seducation}"></td>
            <td>毕业院校及专业</td><td colspan="2" th:text="${cadre?.seducationdetail}"></td>
        </tr>
        <tr>
            <td>在职教育</td><td colspan="2" th:text="${cadre?.weducation}"></td>
            <td>毕业院校及专业</td><td colspan="2" th:text="${cadre?.weducationdetail}"></td>
        </tr>
        <tr>
            <td>现任职务及任职时间</td><td>现任职务</td><td colspan="2" th:text="${cadre?.newpost}"></td>
            <td>任职时间</td><td colspan="2" th:text="${cadre?.appointtime}"></td>
        </tr>
        <tr>
            <td style="height: 280px">本年度所做的主要工作(条目式，500字以内)</td>
            <td colspan="6"><textarea readonly th:text="${cadre?.resume}"></textarea></td>
        </tr>
        <tr>
            <td style="height: 120px">本年度所获主要奖励(条目式)</td>
            <td colspan="6"><textarea readonly th:text="${cadre?.punishaward}"></textarea></td>
        </tr>

        <!------------------------------->
        <tr>
            <td>附件下载</td>
            <td colspan="7" style="text-align: left">
                <span th:if="${cadreInfo==null or cadreInfo.filePath==null}">
                        <a>无附件</a>
                    </span>
                <span th:if="${cadreInfo != null and cadreInfo.filePath!=null}">
                        <a th:href="@{/doc/{doc}(doc=${cadreInfo?.filePath})}" style="color: #0B61A4">下载附件</a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script th:inline="javascript">
    //防止页面后退
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });

    layui.use(["jquery","upload","laydate"],function () {
        var table = layui.table;
        var form = layui.form;
        var laydate = layui.laydate;
        var upload = layui.upload;

        $("#modifyPwd").click(function () {
            var str = "<div><p>旧的密码<input type='text' id='old' /></p></div>";
            str += "<div><p>新的密码<input type='password' id='once' /></p></div>";
            str += "<div><p>确认密码<input type='password' id='second' /></p></div>";
            layer.confirm(str,{btn: ['确定', '取消'], title: "修改密码"},function () {
                $.ajax({
                    url: "/cadre/modifyPwd?ss="+window.btoa(old.value+"&"+once.value+"&"+second.value+"&"+[[${cadre.cadre_name}]]+"&"),
                    async: false,
                    data: null,
                    type: "POST",
                    dataType: 'json',
                    success: function (data) {
                        if (data.res) {
                            layer.msg("修改成功！", {icon: 6, time: 1000, anim: 4}, function () {
                                location.reload();
                                parent.layer.close(parent.layer.getFrameIndex(window.name));

                            })
                        } else{
                            layer.msg(data.info, {icon: 5, time: 1500, anim: 4})
                        }
                    },
                    error: function (data) {
                        layer.msg("系统故障,请稍候再试!")
                    }
                })
            })
        })

        $("#editCadre").click(function () {
            layer.open({
                title: "编辑个人信息",
                type: 2,
                shade: false,
                maxmin: true,
                shade: 0.5,
                anim: 4,
                area: ["30%", "40%"],
                content: "cadreInfoEdit?cadreName=" + [[${cadre.cadre_name}]] + "&job=" + [[${cadre.newpost}]],
                zIndex: layer.zIndex,
                end: function () {
                    $(".layui-laypage-btn")[0].click();
                }
            });
        })

        //指定允许上传的文件类型
        upload.render({
            elem: '#fileimprot'
            , url: "/cadre/fileimprot"
            , accept: 'file'//普通文件
            , exts: 'xls|xlsx'
            , done: function (res) {
                if (res.res) {
                    layer.msg("导入成功");
                    location.reload();
                    href="javascript:location.replace(location.href);"
                }else {
                    layer.msg(res.info, {icon:5 ,time: 2000})
                }
            }
        });

        $("#explain").click(function () {
            layer.open({
                type: 1
                ,
                title: false //不显示标题栏
                ,
                closeBtn: false
                ,
                area: '300px;'
                ,
                title: '温馨提示:'
                ,
                shade: 0.8
                ,
                id: 'LAY_layuipro' //设定一个id，防止重复弹出
                ,
                resize: false
                ,
                btn: ['我知道了']
                ,
                btnAlign: 'c'
                ,
                moveType: 1 //拖拽模式，0或者1
                ,
                content: '<div style="height: 170px;width: 280px;font-size: 15px;margin: 50px 10px">' +
                    '<p>1.导入或修改详情信息无效</p><hr>' +
                    '<p>答:可能是文件出错或文件模板不对</p>'+
                    '<p>2.导入图片或文件错误</p><hr>' +
                    '<p>答:导入图片格式仅支持(jpg|png)或图片分辨率太高</p></div>'
            });
        })
    });

</script>

</body>
</html>
