<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<div th:include="publictemplate :: css"></div>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
        <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
            <a><cite>干部信息</cite></a>
            <a><cite>编辑信息</cite></a>
        </span>
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>

    <div class="layui-upload" style="margin-top: 10px">
        <button type="button" class="layui-btn" id="test1">上传照片</button>
        <button type="button" class="layui-btn" id="test3">上传附件</button>
        <div class="layui-upload-list"><p id="demoText"></p></div>

    </div>

    <div class="layui-form-item">
        <label style="float: left">名字</label>
        <div>
            <input type="text" name="username"  autocomplete="off" class="layui-input layui-disabled"
                   readonly="readonly" th:value="${cadreName}">
        </div>
    </div>
    <div class="layui-form-item">
        <label style="float: left">职务</label>
        <div>
            <input type="text" name="job"  autocomplete="off" class="layui-input layui-disabled"
                   readonly="readonly" th:value="${job}">
        </div>
    </div>
    <!--form表单-->

    <form class="layui-form layui-form-pane ok-form" id="info">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script th:inline="javascript">
    layui.use(["element", "form", "jquery", "laydate"], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        form.on("submit(add)", function (data) {
            submit();
            return false;
        });
    })
    function submit() {
        $.ajax({
            url: "/cadre/updateInfo?cadreName="+[[${cadreName}]],
            async: false,
            data: $("#info").serialize(),
            type: "POST",
            dataType: 'json',
            success: function (data) {
                if (data.res) {
                    layer.msg("修改成功！", {icon: 6, time: 1000, anim: 4}, function () {
                        location.reload();
                        parent.layer.close(parent.layer.getFrameIndex(window.name));

                    })
                }
            },
            error: function (data) {
                layer.msg("系统故障,请稍候再试!")
            }
        })
    }
</script>
<script th:inline="javascript">
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //只允许上传doc,docx,pdf文件
        upload.render({
            elem: '#test3'
            ,url: '/cadre/upload?cadreName='+[[${cadreName}]]
            ,accept: 'file' //普通文件
            ,exts: 'doc|docx'
            ,done: function(res){
                if (res.res){
                    layer.msg("上传成功");
                }
            }
            ,error: function(){
                layer.msg("上传失败")
            }
        });

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/cadre/upload?cadreName='+[[${cadreName}]]
            ,exts: 'png|jpg'
            ,done: function(res){
                //如果上传成功
                if(res.res){
                    return layer.msg('上传成功');
                }
            }
            ,error: function(){
                layer.msg("上传失败")
            }
        });
    })
</script>

</body>
</html>
