<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>编辑用户</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link rel="stylesheet" th:href="@{/static/css/okadmin.css}">-->
</head>
<body>
<div class="ok-body">
<!--引入模板-->
<div th:include="publictemplate :: css"></div>
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
        <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
            <a><cite>用户管理</cite></a>
            <a><cite>用户列表</cite></a>
            <a><cite>编辑用户</cite></a>
        </span>

        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" id="cadreInfo" lay-filter="cadreEdit">
        <input type="text" hidden name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">名字</label>
            <div class="layui-input-block">
                <input type="text" name="cadreName" placeholder="请输入用户名" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input"
                       lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职务</label>
            <div class="layui-input-block">
                <input type="text" name="job" placeholder="请输入职位" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份</label>
            <div class="layui-input-block">
                <select name="role" lay-filter="role" lay-verify="required">
                    <option value=""></option>
                    <option value="干部" selected="">干部</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <select name="state" lay-filter="state" lay-verify="required">
                    <option value=""></option>
                    <option value="0">停用</option>
                    <option value="1" selected="">启用</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">参与投票</label>
            <div class="layui-input-block">
                <select name="avoteLias" lay-filter="avoteLias" lay-verify="required">
                    <option value=""></option>
                    <span th:each="v : ${votes}">
                        <option th:value="${v.alias}"><span th:text="${v.alias}"></span></option>
                    </span>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="edit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript">
    layui.use(["element", "form", "jquery", "laydate","upload"], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        form.val('cadreEdit', {
            /*<![CDATA[*/
            "id": [[${cadre.id}]]
            ,"cadreName": [[${cadre.cadreName}]]
            ,"password": [[${cadre.password}]]
            ,"job": [[${cadre.job}]]
            ,"role":[[${cadre.role}]]
            ,"state": [[${cadre.state == true ? 1 : 0}]]
            ,"desc": [[${cadre.desc}]]
            ,"avoteLias":[[${cadre.avoteLias}]]
            /*]]>*/
        })

        form.on("submit(edit)", function (data) {
            submit();
            return false;
        });
    })
    function submit() {
        $.ajax({
            url: "/cadre/updateByPK",
            async: false,
            data: $("#cadreInfo").serialize(),
            type: "POST",
            dataType: 'json',
            success: function (data) {
                if (data.res) {
                    layer.msg("修改成功！", {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    })
                }
            },
            error: function (data) {
                layer.msg("输入信息有误,请重试!")
            }
        })
    }
</script>
</body>
</html>
