<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<div th:include="publictemplate :: css"></div>
<div class="layui-header" style="background: #393d49">
    <p style="color: white;font-size: 30px;padding-top: 7px">湖南科技学院中层干部年度考核测评系统</p>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item"><a href="javascript:void(0)" id="logout">退出</a></li>
    </ul>
</div>
<div class="layui-col-md6 layui-col-xs12 layui-col-lg-offset3">
    <blockquote class="layui-elem-quote">
        <span class="x-red" th:text="${cadre.cadreName}"></span> 的信息页面！
        <span class="x-red" style="color: red" th:text="${warning}"></span>
    </blockquote>
    <table class="layui-table">
        <colgroup>
            <col width="300">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <td colspan="2"><p align="center"><img src="imgs/qq.jpeg" width="250px" height="170px"></p></td>
        </tr>
        <tr>
            <td>姓名</td>
            <td th:text="${cadre.cadreName}"></td>
        </tr>
        <tr>
            <td>职务</td>
            <td th:text="${cadre.job}"></td>
        </tr>
        <tr>
            <td>个人简介</td>
            <td th:text="${cadreInfo?.info}"></td>
        </tr>
        <tr>
            <td>附件信息</td>
            <td th:text="${cadreInfo?.fileName}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
