<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huse.mapper.CadreDatailMapper" >
  <resultMap id="BaseResultMap" type="com.huse.pojo.CadreDatail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cadre_name" property="cadre_name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birth" property="birth" jdbcType="VARCHAR" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="nativeplace" property="nativeplace" jdbcType="VARCHAR" />
    <result column="health" property="health" jdbcType="VARCHAR" />
    <result column="politicalface" property="politicalface" jdbcType="VARCHAR" />
    <result column="worktime" property="worktime" jdbcType="VARCHAR" />
    <result column="vote_alia" property="vote_alia" jdbcType="VARCHAR" />
    <result column="majorpost" property="majorpost" jdbcType="VARCHAR" />
    <result column="seducation" property="seducation" jdbcType="VARCHAR" />
    <result column="seducationdetail" property="seducationdetail" jdbcType="VARCHAR" />
    <result column="weducation" property="weducation" jdbcType="VARCHAR" />
    <result column="weducationdetail" property="weducationdetail" jdbcType="VARCHAR" />
    <result column="newpost" property="newpost" jdbcType="VARCHAR" />
    <result column="job" property="newpost" jdbcType="VARCHAR" />
    <result column="appointtime" property="appointtime" jdbcType="VARCHAR" />
    <result column="resume" property="resume" jdbcType="VARCHAR" />
    <result column="punishaward" property="punishaward" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cadre_name, sex, birth, nation, nativeplace, politicalface, worktime,
    health, majorpost, seducation, seducationdetail, weducation, weducationdetail,
    newpost, appointtime, resume, punishaward
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cadre_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cadre_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huse.pojo.CadreDatail" >
    insert into cadre_detail
    values (#{id,jdbcType=INTEGER},#{vote_alia,jdbcType=VARCHAR},#{cadre_name,jdbcType=VARCHAR},#{sex,jdbcType=VARCHAR},
        #{birth,jdbcType=VARCHAR},#{nation,jdbcType=VARCHAR},
        #{nativeplace,jdbcType=VARCHAR},#{health,jdbcType=VARCHAR},
        #{politicalface,jdbcType=VARCHAR},#{worktime,jdbcType=VARCHAR},
        #{majorpost,jdbcType=VARCHAR},#{seducation,jdbcType=VARCHAR},
        #{seducationdetail,jdbcType=VARCHAR},#{weducation,jdbcType=VARCHAR},
        #{weducationdetail,jdbcType=VARCHAR},#{newpost,jdbcType=VARCHAR},#{appointtime,jdbcType=VARCHAR},
        #{resume,jdbcType=VARCHAR},#{punishaward,jdbcType=VARCHAR})
  </insert>

  <select id="selectByIdFoundName" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT id,cadre_name,job FROM huse_cadre where id = #{id}
  </select>

  <update id="updateByPrimaryKey" parameterType="com.huse.pojo.CadreDatail" >
    update cadre_detail
    set birth = #{birth,jdbcType=VARCHAR},sex = #{sex,jdbcType=VARCHAR}, nation=#{nation,jdbcType=VARCHAR},
        nativeplace=#{nativeplace,jdbcType=VARCHAR},health=#{health,jdbcType=VARCHAR},
        politicalface=#{politicalface,jdbcType=VARCHAR},worktime=#{worktime,jdbcType=VARCHAR},
        majorpost=#{majorpost,jdbcType=VARCHAR},seducation=#{seducation,jdbcType=VARCHAR},
        seducationdetail=#{seducationdetail,jdbcType=VARCHAR}, weducation=#{weducation,jdbcType=VARCHAR},
        weducationdetail=#{weducationdetail,jdbcType=VARCHAR},appointtime=#{appointtime,jdbcType=VARCHAR},
        resume=#{resume,jdbcType=VARCHAR}, punishaward=#{punishaward,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByNameJob" parameterType="com.huse.pojo.CadreDatail" >
    update cadre_detail
    set birth = #{birth,jdbcType=VARCHAR}, sex = #{sex,jdbcType=VARCHAR}, nation=#{nation,jdbcType=VARCHAR},
        nativeplace=#{nativeplace,jdbcType=VARCHAR},health=#{health,jdbcType=VARCHAR},
        politicalface=#{politicalface,jdbcType=VARCHAR},worktime=#{worktime,jdbcType=VARCHAR},
        majorpost=#{majorpost,jdbcType=VARCHAR},seducation=#{seducation,jdbcType=VARCHAR},
        seducationdetail=#{seducationdetail,jdbcType=VARCHAR}, weducation=#{weducation,jdbcType=VARCHAR},
        weducationdetail=#{weducationdetail,jdbcType=VARCHAR},appointtime=#{appointtime,jdbcType=VARCHAR},
        resume=#{resume,jdbcType=VARCHAR}, punishaward=#{punishaward,jdbcType=VARCHAR}
    where (cadre_name,newpost) in ((#{cadre_name},#{newpost}))
  </update>
</mapper>