
.login_box{
    position: absolute;
    width: 500px;
    height: 280px;
    background: rgba(23, 23, 23, 0.4);
    top: 400px;
    right: 60px;
    border-radius: 8px;
}
.welc{
    color: white;
    font-size: 40px;
    width: 500px;
    height: 80px;
    line-height: 50px;
    font-family: "Microsoft JhengHei";
    position: absolute;
    top: 340px;
    right: 60px;
    text-align: center;
}
.form_tb{
    width: 400px;
    margin-top: 40px;
    margin-left: 12px;
    font-size: 15px;
    color: white;
}
.title{
    width: 100%;
    height: 70px;
    position: absolute;
    text-align: left;
    background: rgba(23, 23, 23, 0.2);
}
.title p{
    color: white;
    font-size: 45px;
    display: block;
    height: 60px;
    width: 800px;
}

.logo{
    background: url("../imgs/logo.png") no-repeat;
    height: 60px;
    width: 260px;
    float: left;
    background-size:252px 57px;
}