<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="css">
    <link rel="shortcut icon" th:href="@{/static/imgs/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/static/css/okadmin.css}">
    <link rel="stylesheet" th:href="@{/static/css/pagecss.css}">
    <link rel="stylesheet" th:href="@{/static/lib/nprogress/nprogress.css}">
    <script th:src="@{/static/lib/layui/layui.js}"></script>
    <script th:src="@{/static/js/jquery-2.1.0.js}"></script>
    <script th:src="@{/static/lib/nprogress/nprogress.js}"></script>
    <script th:src="@{/static/js/okadmin.js}"></script>
</div>
</body>
</html>
