<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>编辑用户</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<div class="ok-body">
<!--引入模板-->
<div th:include="publictemplate :: css"></div>
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
        <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
            <a><cite>参评人员管理</cite></a>
            <a><cite>参评人员列表</cite></a>
            <a><cite>编辑参评人员</cite></a>
        </span>
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" id="participant" lay-filter="participantEdit">
<!--        隐藏域-->
        <input type="text" hidden name="id">
        <input type="text" hidden name="pin">
        <input type="text" hidden name="state">
        <div class="layui-form-item">
            <label class="layui-form-label">身份</label>
            <div class="layui-input-block">
                <select name="role" lay-filter="role" lay-verify="required">
                    <option value=""></option>
                    <option value="校长">校长</option>
                    <option value="干部">干部</option>
                    <option value="教师">教师</option>
                    <option value="群众">群众</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">截止时间</label>
            <div class="layui-input-block">
                <input type="text" name="endtime" placeholder="请设设置截止时间" autocomplete="off" class="layui-input" id="end" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="edit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript">
    layui.use(["element", "form", "jquery", "laydate"], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        form.val('participantEdit', {
            /*<![CDATA[*/
            "id": [[${participant.id}]]
            ,"role": [[${participant.role}]]
            ,"pin":[[${participant.pin}]]
            // 需要对时间进行格式化
            ,"endtime": [[${#dates.format(participant.endtime,'yyyy-MM-dd HH:mm:ss')}]]
            ,"state":[[${participant.state}]]
            /*]]>*/
        })

        laydate.render({
            elem: "#end",
            type: "datetime"
        });
        form.on("submit(edit)", function (data) {
            ajax();
            return false;
        });
    })
    function ajax() {
        $.ajax({
            url: "/participant/updateByPK",
            async: false,
            data: $("#participant").serialize(),
            type: "POST",
            dataType: 'json',
            success: function (data) {
                if (data.res) {
                    layer.msg("添加成功！", {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    })
                }
            },
            error: function (data) {
                layer.msg("系统故障,请稍候再试!")
            }
        })

    }
</script>
</body>
</html>
